/* Self-hosted OFL fonts (D14): Cinzel for titles, Alegreya for text. Bundled by Vite (hashed, relative URLs work
   under any path prefix); licences in assets/fonts/. Variable fonts: one file per family covers every weight. */
@font-face {
  font-family: 'Cinzel';
  src: url('./fonts/Cinzel.ttf') format('truetype');
  font-weight: 400 900;
  font-display: swap;
}
@font-face {
  font-family: 'Alegreya';
  src: url('./fonts/Alegreya.ttf') format('truetype');
  font-weight: 400 900;
  font-display: swap;
}
